<!DOCTYPE HTML>
<html>
  <head>
    <title>Behave drupal IDE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="drupal behavioural testing" />
     <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!--
    <link href="{{ base_path ~ directory }}/ide/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    -->
    <!-- Custom CSS -->
    <link href="{{ base_path ~ directory }}/ide/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="{{ base_path ~ directory }}/ide/css/font-awesome.css" rel="stylesheet"> 
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="{{ base_path ~ directory }}/ide/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!--animate-->
    <link href="{{ base_path ~ directory }}/ide/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/wow.min.js"></script>
    <!-- This is for material stuffs -->
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="//code.getmdl.io/1.1.3/material.indigo-pink.min.css">

    <link type="text/css" rel="stylesheet" href="{{ base_path ~ directory }}/ide/js/jquery-pagewalkthrough/css/jquery.pagewalkthrough.css" />
    <!-- 
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css"> 
    -->
    <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/jquery-1.10.2.min.js"></script>
    <script defer src="//code.getmdl.io/1.1.3/material.min.js"></script>
    <link href="{{ base_path ~ directory }}/ide/css/custom.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ base_path ~ directory }}/ide/css/mediaquery.css" rel="stylesheet" type="text/css" media="all">
    <!-- End of material stuffs -->
    <script type="text/javascript">
       new WOW().init();
    </script>

    <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/dialog-polyfill.js"></script>
    <link rel="stylesheet" href="{{ base_path ~ directory }}/ide/css/dialog-polyfill.css">

    <!--mdl-selectfield-->
    <link rel="stylesheet" href="//rawgit.com/mebibou/mdl-selectfield/master/dist/mdl-selectfield.min.css">
    <!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
    -->

    <script defer type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts---> 
     <!-- Meters graphs -->
    <!-- Placed js at the end of the document so the pages load faster -->
    <!--
    <script type='text/javascript' src='https://www.google.com/recaptcha/api.js' async defer></script>
    -->
    <script type="text/javascript">
      window.behave = {};
      window.behave.csrf_token = "";
      window.behave.theme_path = "{{base_path ~ directory}}";
      {% if logged_in is empty %}
        window.behave.isLoggedin = false;
      {% else %}
        window.behave.isLoggedin = true;
      {% endif %}
    </script>
  </head> 
  <body class="sticky-header left-side-collapsed">
    <section>
      <!-- left side start-->
      <div class="left-side sticky-left-side">
        <!--logo and iconic logo start-->
        <div class="logo">
          <h1><a href="index.html">Behave <span>Drupal</span></a></h1>
        </div>
        <div class="logo-icon text-center">
          <a href="index.html"><i class="lnr lnr-home"></i></a>
        </div>

        <!--logo and iconic logo end-->  
        <div class="left-side-inner">  
          <!--sidebar nav start-->
          <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a id="run" href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Run test</span></a></li>
            <li><a id="clear_all" href="#"><i class="fa fa-file" aria-hidden="true"></i><span>New Project</span></a></li>
            <li><a id="open" href="#"><i class="fa fa-folder-open" aria-hidden="true"></i><span>Open saved features</span></a></li>
            <li><a id="save" href="#"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save features</span></a></li>
            <li><a id="templates" href=""><i class="fa fa-magic" aria-hidden="true"></i><span>Add common Drupal features</span></a></li>
            <li><a id="feedback" href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i></i><span>Feedback</span></a></li>
            <li><a id="help" class="help-link" href="#"><i class="fa fa-question" aria-hidden="true"></i></i><span>Common Help</span></a></li>
          </ul>
          <!--sidebar nav end-->
        </div>
      </div>
      <!-- left side end-->
      
      <!-- main content start-->
      <div class="main-content main-content3 main-content3copy">
        <!-- header-starts -->
        <div class="header-section">
          <div class="menu-left"></div>
          <!--
          <div class="menu-middle">
            <button id="play-actions" class="mdl-button mdl-js-button mdl-button--icon download-build">
              <i class="material-icons">play_arrow</i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon download-build btn-pause" disabled>
              <i class="material-icons">pause</i>
            </button>
          </div>
          <div class="mdl-tooltip" for="play-actions"><span>Please add at least one action</span></div>
          -->
          <!--notification menu start -->
          <div class="menu-right">
          <!--
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                  <input type="text" class="form-control1 control3 mdl-textfield__input" pattern="((?!:(\w+)).)*$"/>
                                  <label class="mdl-textfield__label" for="username">Username</label>
                                  <span class="mdl-textfield__error">Only alphabet and no spaces, please!</span>
                                </div>
                                -->
          <!--
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                    mdl-textfield--floating-label mdl-textfield--align-right">
               <label class="mdl-button mdl-js-button mdl-button--icon"
                 for="fixed-header-drawer-exp">
                 <i class="material-icons">search</i>
               </label>
               <div class="mdl-textfield__expandable-holder">
                 <input class="mdl-textfield__input" type="text" name="sample"
                   id="fixed-header-drawer-exp">
              </div>
            </div> 
            -->
            <div class="user-panel-top">  
              <div class="profile_details_left">
              <!--
                <ul class="nofitications-dropdown">
                            
                  <div class="clearfix"></div>  
                </ul>
                -->
              </div>
              <div class="profile_details">   
                <div class="mdl-spinner mdl-js-spinner"></div>
                <!-- statrt of profile information -->
                <ul class="usr-profile {% if not logged_in %}hide-user{% endif %}">
                  <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <div class="profile_img"> 
                        <span id="user_pic" style="{% if logged_in %}background-image:url({{user_picture}});{% endif %}"> </span> 
                         <div class="user-name">
                          <p id="user_name">{% if logged_in %}{{user_name}}{% endif %}<span>&nbsp;</span></p>
                         </div>
                         <i class="lnr lnr-chevron-down"></i>
                         <i class="lnr lnr-chevron-up"></i>
                        <div class="clearfix"></div>  
                      </div>  

                    </a>  
                    <ul id="profile-dropdown" class="dropdown-menu drp-mnu">
                      <li> <a id="open_projects" href="#" class="open"><i class="fa fa-cog"></i>Projects</a> </li> 
                      <li> <a id="profile" href="#"><i class="fa fa-user"></i>Profile</a> </li> 
                      <li> <a id="logout" href="#"><i class="fa fa-sign-out"></i>Logout</a> </li>
                    </ul>
                  </li>
                  <div class="clearfix"> </div>
                </ul>
                <!-- End of profile information -->
                <!-- login goes here -->
                <button id="login" class="mdl-button mdl-js-button mdl-button--icon {% if logged_in %}hide-user{% endif %}"><i class="material-icons">lock</i></button> 
                <div class="clearfix"></div>
                <!-- end of login -->
              </div>                        
              <div class="clearfix"></div>
            </div>
          </div>
          <!--notification menu end -->
        </div>
        <!-- //header-ends -->
        <div id="page-wrapper">
          <div class="graphs">
            <div class="xs">
              <!-- For showing messages --> 
              <div class="site-content cf messages" id="message_window">
                <div class="boxed-group">
                  <h4 class="msg-title"><span>Behavedrupal</span> 
                    <button class="mdl-button mdl-js-button mdl-button--icon message-close btn-close pull-right">
                      <i class="material-icons">close</i>
                    </button>
                  </h4>
                  <div class="boxed-group-inner">
                    <section class="msg_body"></section>
                  </div>
                </div>
              </div>
              <!-- End of messages -->
              <!-- For showing messages --> 
              <div class="site-content cf messages help-window" id="help_window">
                <div class="boxed-group">
                  <h4 class="msg-title"><span>Help</span> 
                    <button class="mdl-button mdl-js-button mdl-button--icon message-close btn-close pull-right">
                      <i class="material-icons">close</i>
                    </button>
                  </h4>
                  <div class="boxed-group-inner">
                    <section class="msg_body"></section>
                  </div>
                </div>
              </div>
              <!-- End of messages -->
              <div class="col-md-4 email-list1">
                <h3 class="blank1">Features</h3>
                <ul class="collection feature-list">
                  <!--
                  <li class="collection-item avatar email-unread">
                    <i class="fa fa-cogs icon_1"></i>
                    <div class="avatar_left">
                    <span class="email-title">Social</span>
                    <p class="truncate grey-text ultra-small">Lorem Ipsum is simply dummy text of.</p>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-button--icon btn-close pull-right"><i class="material-icons">close</i></button>
                    <div class="clearfix"> </div>
                  </li>
                  -->
                  <li>                  
                    <button id="add-feature" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored add-feature">
                      <i class="material-icons">add</i>
                    </button>
                    <div class="mdl-tooltip" for="add-feature">
                    Add Feature
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-8 inbox_right scenario-list">
                <button id="add-scenario" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored add-scenario">
                    <i class="material-icons">add</i>
                </button>
                <div class="mdl-tooltip" for="add-scenario">
                    Add Scenatio
                </div>
                <h3 class="blank1">Scenarios</h3>
              </div>
              <a href="#" data-index="1" class="help-txt help-link feature-help">Help?</a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <!--footer section start-->
      <footer>
         <p><span class="auto_save">Saving...</span></p>
      </footer>
      <!--footer section end-->
    </section>
    
  <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/jquery.nicescroll.js"></script>
  <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/scripts.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <!--
  <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/bootstrap.min.js"></script>
  -->
  <dialog class="mdl-dialog dialog_add-scenario">
    <h5 class="mdl-dialog__title">Add Scenario</h5>
    <div class="mdl-dialog__content">
      <p>
        Add a scenario from <span class="feature-name"></span> feature
        <form class="com-mail">
          <input id="scenario-name" type="text" class="form-control1 control3" autocomplete="off">
        </form>
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button btn_add-scenario">Add</button>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </dialog>
  <!-- for add feature dilaog box --> 
  <dialog class="mdl-dialog dialog_add-feature">
    <h5 class="mdl-dialog__title">Add Feature</h5>
    <div class="mdl-dialog__content">
      <p>
        Add a featue like authentication/register.
        <form class="com-mail">
          <input id="feature-name" type="text" class="form-control1 control3" autocomplete="off">
          <lable>Description</lable>
          <textarea id="feature-description" rows="3" class="form-control1"></textarea>
        </form>
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button btn_add-feature">Add</button>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </dialog>

  <dialog class="mdl-dialog dialog_login dialog_auth">
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
      <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">
          <div class="mdl-card__title mdl-color--black mdl-color-text--white">
            <h2 class="mdl-card__title-text login-section"><i class="material-icons">lock</i>Login</h2>
            <h2 class="mdl-card__title-text registration-section"><i class="material-icons">lock</i>Register</h2>
            <h2 class="mdl-card__title-text password-reset-section"><i class="material-icons">lock</i>Reset password</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <form action="#">
              <div class="auth_error"></div>
              <div class="login-section">
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="username" autocomplete="off" />
                  <label class="mdl-textfield__label" for="username">Username</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="password" id="userpass" autocomplete="off"/>
                  <label class="mdl-textfield__label" for="userpass">Password</label>
                </div>
                <div class="login-links">
                  <a href="#" class="forgot-password-link">Forgot password?</a>
                  <a class="reg-link" href="#">Register</a>
                </div>
              </div>
              <div class="password-reset-section">
                <div class="mdl-textfield mdl-js-textfield pass-email">
                  <input class="mdl-textfield__input" type="email" id="reset_email" autocomplete="off" />
                  <label class="mdl-textfield__label" for="reset_email">Email</label>
                </div>
                <div class="login-links">
                  <a href="#" class="login-link">Login?</a>
                </div>
              </div>
              <div class="registration-section">
                <div class="mdl-textfield mdl-js-textfield reg-email">
                  <input class="mdl-textfield__input" type="email" id="reg_email" autocomplete="off" />
                  <label class="mdl-textfield__label" for="reg_email">Email</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="password" id="reg_userpass" autocomplete="off"/>
                  <label class="mdl-textfield__label" for="reg_userpass">Password</label>
                  <div id="pwindicator">
                    <div class="bar"></div>
                    <div class="label"></div>
                  </div>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="password" id="reg_confirm_pass" autocomplete="off"/>
                  <label class="mdl-textfield__label" for="reg_confirm_pass">Confirm Password</label>
                  <div id="confirm_pwindicator">
                    <div class="bar"></div>
                    <div class="label">Password not matching</div>
                  </div>
                </div>
                <div class="login-links">
                  <a href="#" class="login-link">Login?</a>
                </div>
              </div>
              <!--
              <div class="g-recaptcha" data-sitekey="6LdXOigTAAAAAHVzIa0EfOJ6g1prYu6BJd-YltR-"></div>
              -->
            </form>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button type="button" class="mdl-button close">Cancel</button>
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect auth_ok btn_ok">OK</button>
          </div>
        </div>
      </main>
    </div>
  </dialog>
  <!-- for getting feedback -->
  <dialog class="mdl-dialog feedback-dialog">
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
      <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">
          <div class="mdl-card__title mdl-color--black mdl-color-text--white">
            <h2 class="mdl-card__title-text"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Feedback</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="email" id="feeback_email" autocomplete="off" />
                <label class="mdl-textfield__label" for="feeback_email">Email</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                 <textarea class="mdl-textfield__input" type="text" rows= "6" id="feedback_txt" ></textarea>
                 <label class="mdl-textfield__label" for="feedback_txt">Feedback...</label>
              </div>
            </form>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button type="button" class="mdl-button close">Cancel</button>
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn_ok">Ok</button>
          </div>
        </div>
      </main>
    </div>
  </dialog>
  <!-- Save features to a project-->
  <dialog class="mdl-dialog save-dialog">
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
      <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">
          <div class="mdl-card__title mdl-color--black mdl-color-text--white">
            <h2 class="mdl-card__title-text"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Save</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="save_project" autocomplete="off" />
                <label class="mdl-textfield__label" for="save_project">Save as new</label>
              </div>
              <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                <select class="mdl-selectfield__select" id="saved_projects" name="saved_projects">
                  <option value=""></option>
                  {% for data in saved_data %}
                  <option value="{{data.id}}">{{data.name}}</option>
                  {% endfor %}
                </select>
                <label class="mdl-selectfield__label" for="saved_projects">Save to exesting project</label>
              </div>
              <div class="footer-">
                <a href="#" data-index="8" class="help-txt help-link">Help?</a>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button type="button" class="mdl-button close">Cancel</button>
            <div class="mdl-spinner mdl-js-spinner"></div>
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn_ok btn-save">Save</button>
          </div>
        </div>
      </main>
    </div>
  </dialog>
  <!-- end of save dialog-->
  <!-- profile-->
  <dialog class="mdl-dialog dialog-profile">
    <div class="card-wrap">  
      <div class="profile_pic-wrap">    
        <img id="profile_pic" src="{{user_picture}}" alt="" />  
      </div>  
      <button id="upload-photo" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">add_a_photo</i></button>
      <div class="info-wrap">
        <h1 class="user-name">{{user_name}}</h1><p>Member since : <span>{{member_since|date('d/m/Y')}}</span></p>
      </div>
      <div class="footer-btns">
        <div style="height:0px;overflow:hidden">
          <form id="profile_form" action="#" enctype="multipart/form-data">
            <input id="uploaded_file" type="file" name="profile_pic" accept="image/*">
          </form>
        </div>
        <button id="cancel_account" type="button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect delete-account">Cancel Account</button>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn_ok btn-save">Save</button>
        <button type="button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cancel">Cancel</button>
      </div>
    </div>
  </dialog>
  <!-- end of profile-->
  <!-- Saved projects-->
  <dialog class="mdl-dialog dialog-open">
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
      <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">
          <div class="mdl-card__title mdl-color--black mdl-color-text--white">
            <h2 class="mdl-card__title-text"><i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp;Open Project</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <form action="#">
              <div class="scrollbar scrollbar-projects dialog-scrollbar">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">Name</th>
                      <th class="mdl-data-table__cell--non-numeric">Created</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in saved_data %}
                    <tr>
                      <td class="project-title">{{data.name}}</td>
                      <td>{{data.created|date('d/m/Y')}}</td>
                      <td data-id="{{data.id}}">
                        <button class="mdl-button mdl-js-button mdl-button--icon delete_project">
                          <i class="material-icons">delete</i>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--icon download_project">
                          <i class="material-icons">file_download</i>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--icon open_project">
                          <i class="material-icons">folder_open</i>
                        </button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div>
                <a href="#" data-index="7" class="help-txt help-link">Help?</a>
              </div>
            </form>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button type="button" class="mdl-button close">Cancel</button>
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn_ok">Ok</button>
          </div>
        </div>
      </main>
    </div>
  </dialog>
  <!-- end of saved projects-->
  <!-- Templates -->
  <dialog class="mdl-dialog dialog-templates">
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
      <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">
          <div class="mdl-card__title mdl-color--black mdl-color-text--white">
            <h2 class="mdl-card__title-text"><i class="fa fa-magic" aria-hidden="true"></i>&nbsp;Add common Drupal features</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <form action="#">
              <div class="scrollbar scrollbar-templates dialog-scrollbar">
                <ul class="mdl-list">
                  {% for data in feature_templates %}
                    <li class="mdl-list__item mdl-list__item--three-line">
                      <span class="mdl-list__item-primary-content">
                        <span>{{data.name}}</span>
                        <span class="mdl-list__item-text-body">{{data.description}}</span>
                      </span>
                      <span class="mdl-list__item-secondary-content">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="{{data.id}}">
                          <input type="checkbox" id="{{data.id}}" class="mdl-switch__input">
                          <span class="mdl-switch__label"></span>
                        </label>
                      </span>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div>
                <a href="#" data-index="9" class="help-txt help-link">Help?</a>
              </div>
            </form>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button type="button" class="mdl-button close">Cancel</button>
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn_ok">Add</button>
          </div>
        </div>
      </main>
    </div>
  </dialog>
  <!-- end of templates-->
  <!-- run -->
  <dialog class="mdl-dialog dialog-run">
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
      <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">
          <div class="mdl-card__title mdl-color--black mdl-color-text--white">
            <h2 class="mdl-card__title-text"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;Run Test</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <form action="#">
              <div class="scrollbar scrollbar-projects dialog-scrollbar">
              <!-- markup -->
              <div class="stepper">
                <div class="step">
                    <div>
                        <div class="circle">1</div>
                        <div class="line"></div>
                    </div>
                    <div>
                        <div class="title">Configure</div>
                        <span class="run-error-msg">
                          Please specify the url for accessing your drupal installaction from a browser 
                          <a style="margin-top: 9px;display: inline-block;" class="help-txt help-link" data-index="6" href="#">Help?</a>
                        </span> 
                        <div class="body" style="padding-bottom: 0;text-align:center">
                          <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                              <input class="mdl-textfield__input" type="text" id="base_path" autocomplete="off" />
                              <label class="mdl-textfield__label" for="feeback_email">Path to access your drupal installation </label>
                            </div>
                            <small class="config_dis">example: http://localhost/your-site</small>
                          </form>
                        </div>
                    </div>
                </div>
                <div class="step">
                    <div>
                        <div class="circle">2</div>
                        <div class="line"></div>
                    </div>
                    <div>
                        <div class="title">Download the build</div>
                        <div class="body" style="padding-bottom: 0;text-align:center">
                          <div>
                            <button id="download_build" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                              <i class="material-icons">file_download</i> Download
                            </button>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="step">
                    <div>
                        <div class="circle">3</div>
                        <div class="line"></div>
                    </div>
                    <div>
                        <div class="title">Install</div>
                        <div class="body">
                         <p>Unzip the build to your drupal root directory & run the following commands</p>
<pre class="language-markup">
  cd &lt;drupal root&gt;
  composer install --prefer-dist --working-dir=build
</pre>
                        </div>
                    </div>
                </div>
                <div class="step">
                    <div>
                        <div class="circle">4</div>
                        <div class="line"></div>
                    </div>
                    <div>
                        <div class="title">Run</div>
                        <div class="body">
                         <p>To run the test use the following command, whenever you change anything in workspace run the following command to see that change in action.</p>
<pre class="language-markup">
  build/bin/phing -f build/phing/build.xml                            
</pre>
                        </div>
                    </div>
                </div>
                <div class="step">
                    <div>
                        <div class="circle">5</div>
                        <div class="line"></div>
                    </div>
                    <div>
                        <div class="title">Aditional commanline options</div>
                        <div class="body">
<p>1) If you want to specify a browser for running the test use -Dbrowser commanline option.</p>
<pre class="language-markup">
  build/bin/phing -f build/phing/build.xml -Dbrowser=firefox                            
</pre>
<p>
  <small>
    <b>For -Dbrowser option you can use firefox, chrome, opera or <a target="_balnk" href="http://phantomjs.org/">phantomjs</a></b>
  </small>
</p>
<p>2) If you don't want to update the features from workspace you can use -DskipDownload option.<p>
<pre class="language-markup">
  build/bin/phing -f build/phing/build.xml -DskipDownload                            
</pre>
<p>(example:  if you directly edit the features in your file system.)</p>
<p>3) You can use these options together also</p>
<pre class="language-markup">
  build/bin/phing -f build/phing/build.xml -DskipDownload -Dbrowser=firefox                          
</pre>

                        </div>
                    </div>
                </div>
              </div>
              </div>
            </form>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button type="button" class="mdl-button close">Cancel</button>
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn_ok">Ok</button>
          </div>
        </div>
      </main>
    </div>
  </dialog>
  <!-- end of run-->
  <div id="walkthrough-content" style="display:none;">
    <div id="walkthrough-1">
      Hello there!,<p>We will go through a step by step process of how we use this application. You can see this help topic anytime by clicking this icon</p>
    </div>

    <div id="walkthrough-2">
      For behavior testing we convert the business requirements to features, scenarios and actions. we are going to do the same here  
    </div>

    <div id="walkthrough-3">
      First thing we will be doing here is adding a feature of your application by clicking this button 
    </div>

    <div id="walkthrough-4">
      You will see a dialog box like this, here we need to add a feature name and a sort description about that feature
    </div>

    <div id="walkthrough-5">
      Now click here to add a scenario in that feature we just added before. Scenario is a flow in a feature
    </div>

    <div id="walkthrough-6">
      You will see scenario dialog box like this, Here we need to specify a name for the scenario and it must be unique for a feature
    </div>

    <div id="walkthrough-7">
      Here we will be adding actions in the scenario we just added before. Action is a step in a scenario; like go to a page or clicking on a link. Action must start with Given, When, Then, And, Or, But 
    </div>

    <div id="walkthrough-8">
      This is how we add all the test cases in your application, you need to continue the same steps to add more actions and scenarios. Now you can download the sync client and install it in your test environment.
    </div>

    <div id="walkthrough-9">
      First we will be configuring the client. Here we need to specify a base URL from which all the internal path can be referred.
    </div>

    <div id="walkthrough-10">
      click here to download the client.
    </div>

    <div id="walkthrough-11">
      Now copy the build.zip to your drupal folder and install the client. This is a one time process. When every you change anything in workspace you can see that change in action by running this command in your command line
    </div>

    <div id="walkthrough-12">
      You can add common drupal features from here.
    </div>

    <div id="walkthrough-13">
      If you want to start a new project you can do that from here. It will clean workspace and auto save 
    </div>

    <div id="walkthrough-14">
      If you want to save your project for later use you can do that from here but you should have an account with us  
    </div>

    <div id="walkthrough-15">
      From here you can open saved projects
    </div>

    <div id="walkthrough-16">
      From here you can give us your feedbacks
    </div>

    <div id="walkthrough-17">
      You can create an account or login from here
    </div>

    <div id="walkthrough-18">
      Install the build by running these commands in terminal
    </div>

  </div>
  <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/jquery-pagewalkthrough/jquery.pagewalkthrough.js"></script>
  <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/jquery.pwstrength.js"></script>
  <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/feedback.js"></script>
  <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/custom.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>
  <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/dialogs.js"></script>
  <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/projects.js"></script>
  <script defer type="text/javascript" src="{{ base_path ~ directory }}/ide/js/mdl-selectfield.min.js"></script>
  <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/actions.js"></script>
  <script type="text/javascript" src="{{ base_path ~ directory }}/ide/js/jquery.auto-complete-custom.js"></script>
  <link rel="stylesheet" href="{{ base_path ~ directory }}/ide/css/feedback.min.css">
  <div class="autocomplete-suggestions"></div>
  </body>
</html>